<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<location>
		<system.webServer>
			<modules xdt:Transform="Insert" >
				<remove name="WebDAVModule" xdt:Transform="Insert" />
			</modules>
			<handlers>
				<remove name="WebDAV" xdt:Transform="Insert" />
			</handlers>
			<aspNetCore processPath="bin\Debug\net5.0\Done2X.API.exe" arguments="" stdoutLogEnabled="false" hostingModel="InProcess" stdoutLogFile=".\logs\stdout">
				<environmentVariables>
					<environmentVariable xdt:Transform="Replace" xdt:Locator="Match(name)" name="ASPNETCORE_ENVIRONMENT" value="Production" />
				</environmentVariables>
			</aspNetCore>
		</system.webServer>
	</location>
</configuration>