
//if you change colors also change then in color.service.ts
:root{

    --border-default:#cccccc;    

    --completed-color-1:#ccffcc;    
    --completed-color-2:#e6ffe6;    
 
    --not-completed-color-1:#b3b3ff;    
    --not-completed-color-2:#e6e6ff;    

    --low-priority-color:#ffff4d;    
    --medium-priority-color:#4dff4d;    
    --high-priority-color:#ff4d4d;    

    --container-background-color: #f0f5f5;

    --error-color:red;
    --defect-color:red;
    --fyi-color:#8c8c8c;
    --muted-icon-color:#8c8c8c;
}
