#dash-board {
    .bar-chart {
    }
}

.chart-1 {
    height: 250px;
    border: 1px solid var(--border-default);
}

.no-data-chart {
    text-align: center;
    border: 1px solid var(--border-default);
    width: 200x;
    height: 200px;
    line-height: 200px;
    font-size: 1.2rem;
    background-color: white;
}