.button-icon {
    margin-right: 5px;
}

.fa-bug {
    color: var(--defect-color);
}

.fa-info-circle {
    color: var(--fyi-color);
}

.center {
    border: 1px solid #cccccc;
    border-radius: 0.25rem;    
    height: 200px;
    display: flex;    
    align-items: center;
    padding-left: 25px;
}

.icon-container {    
    display: inline-block;    
    fa-icon {
        vertical-align: middle;
        font-size: 60px;
        margin-right: 20px;
        color:var(--muted-icon-color);
        opacity: 75%;
    }
    margin-bottom: 10px;
    width: 100%;
    span{
        font-size: 1.5rem;
        line-height: 1.2;
    }
}
