<div id="the-vision">

    <div class="container">

        <br><br><br>
        <div class="row">
            <div class="col-12">
                <div class="title">

                </div>
            </div>
        </div>

        <div class="row">
            <div class="offset-xl-3 col-11 col-md-6 col-xl-4 col-xxl-3">

                <h3>Goals & Task</h3>
                <hr>
                <p class="p-wrapper">
                    <fa-icon class="fa-5x" [icon]="goalsTaskIcon"></fa-icon>
                    <br>
                    Get off your ass to perform the tasks to complete your goals.
                </p>
            </div>

            <div class="col-11 col-md-6 col-xl-4 col-xxl-3">
                <h3>Experiment & Learn</h3>
                <hr>
                <p class="p-wrapper">
                    <fa-icon class="fa-5x" [icon]="experimentLearnIcon"></fa-icon>
                    <br>
                    Try something, measure your progress and learn
                </p>
            </div>
        </div>

        <br><br>

        <div class="row">
            <div class="offset-xl-3 col-11 col-md-6 col-xl-4 col-xxl-3">

                <h3>Warts & All</h3>
                <hr>
                <p class="p-wrapper">
                    <fa-icon class="fa-5x" [icon]="wartsAndAllIcon"></fa-icon>
                    <br>                    
                    Being perfect to please people is a waste of time
                </p>

            </div>

            <div class="col-11 col-md-6 col-xl-4 col-xxl-3">
                <h3>Reward & Celebrate</h3>
                <hr>
                <p class="p-wrapper">
                    <fa-icon class="fa-5x" [icon]="celebrateIcon"></fa-icon>
                    <br>
                    Reward small successes and get to back to work
                </p>
            </div>
        </div>


    </div>
</div>