
.chart{
    height: 200px;
}


.card-body{
    padding: 0px;
}
.card-title{
    background-color: #ff4dff;
}


.sub-title{
    font-size: 2.3rem;    
    color:white;
}


#the-vision{
    background-color: #001a1a;
    color: white;

}


.p-wrapper{
    fa-icon{
        float:left;
        margin:0px 15px 7px 0px ;
        color:white;
        line-height:1.7em;
    }
}