<div class="containe-fluid">

    <div class="row">
        <div class="col-8 col-lg-4 col-xxxl-3">
            <h1>Projects</h1>
        </div>
        <div class="col-4">
            <button style="margin-top:10px;" id="add-project" (click)="addProject()" class="btn btn-primary">Add
                Project</button>
        </div>
    </div>
    <hr>

    <div class="row">

        <div class="d-none d-xl-block col-12 col-xl-4 col-xxl-4 col-xxxl-3">
            <div class="row">
                <div class="col-12 col-md-6 col-xl-12 col-xxl-12 col-xxxl-12">
                    <app-motivation></app-motivation>
                </div>

            </div>
        </div>

        <div class="col-xxxl-9">
            <div class="row">
                <div *ngFor="let p of projectList" class="col-xxxl-3">
                    <d2x-project-item (event)="projectEvent($event)" [project]="p">
                    </d2x-project-item>
                    <br>
    
                    <d2x-completed-chart [name]="'Goals'" [completed]="p.goalCompleted" [notCompleted]="p.goalNotCompleted">
                    </d2x-completed-chart>
    
                    <br>
                    <app-goal-count-info [completed]="p.goalCompleted" [goalCount]="p.goalCount">
                    </app-goal-count-info>    
                </div>
            </div>  
        </div>

    </div>
</div>