back-end/.vs/
back-end/Done2X.API/obj
back-end/Done2X.Data/obj
back-end/Done2X.Domain/obj/
back-end/Done2X.UnitTest/obj/
back-end/Done2X.API/bin
back-end/Done2X.Data/bin/
back-end/Done2X.Domain/bin/
back-end/Done2X.UnitTest/bin/
front-end/cypress-test/node_modules
back-end/Done2X.API/appsettings.Production.json
back-end/Done2X.API/appsettings.Development.json
front-end/cypress-test/cypress.env.json
back-end/Done2X.API/Properties/PublishProfiles/
back-end/Done2X.API/Done2X.API.csproj.user