.task-item{
    margin:5px 0px 15px 0px;
}

.task-item-name{
    text-decoration:none ;
    color:black;    
}

.task-item-name:hover{
    text-decoration:underline ;    
}


.status-1{    
    background-color: #f2f2f2;
}

.status-2{
    background-color: #ffffe6;
}
.status-3{
    background-color: #e6ffe6;
}