<div class="container-fluid">    

    <div class="row">
        <div class="col-9 col-lg-4 col-xxxl-3">
            <h1>Goals</h1>
        </div>
        <div class="col-3">            
            <button  style="margin-top:10px;" id="add-goal" (click)="addGoal()" class="btn btn-primary">Add Goal</button>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="d-none d-xl-block col-12 col-xl-4 col-xxl-4 col-xxxl-3">
            <div class="row">

                <div class="col-12 col-md-6 col-xl-12 col-xxl-12 col-xxxl-12">
                    <br>
                    <d2x-completed-chart [completed]="goalListCompleted.length"
                        [notCompleted]="goalListNotCompleted.length"></d2x-completed-chart>
                </div>

            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-xl-12 col-xxl-12 col-xxxl-12">
                    <br>
                    <app-goal-count-info [completed]="goalListCompleted.length"
                        [goalCount]="goalListNotCompleted.length + goalListCompleted.length">

                    </app-goal-count-info>
                </div>

                <div class="col-12 col-md-6 col-xl-12 col-xxl-12 col-xxxl-12">
                    <br>
                    <app-task-count-info [taskCompletedCount]='taskCompletedCount' [taskCount]="taskCount">
                    </app-task-count-info>
                </div>

                <div class="col-12 col-md-6 col-xl-12 col-xxl-12 col-xxxl-12">
                    <br>
                    <app-motivation></app-motivation>
                </div>
            </div>
        </div>
        
        <div class="col-12 col-sm-6 col-xl-4 col-xxxl-3">            
            <h5>Up Next</h5> 
            <div id="goal-list-not-completed" class="row">
                <div *ngFor="let g of goalListNotCompleted" class="col-12">
                    <app-goal-item [goal]="g" (event)="goalEvent($event)"></app-goal-item>
                    <div class="add-goal-after" >
                        <a (click)="addGoalHere(g.targetCompletionDate)" title="add goal here">+</a>
                    </div>
                    <br>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-xl-4 col-xxxl-3">
            <h5>Completed</h5>
            <div id="goal-list-completed" class="row">
                <div *ngFor="let g of goalListCompleted" class="col-12">
                    <app-goal-item [goal]="g" (event)="goalEvent($event)"></app-goal-item>
                    <div class="add-goal-after"></div>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>