<div class="container-fluid">

    <div class="row">
        <div class="col-9 ">
            <h1>Goals</h1>
        </div>
        <div class="col-3">
            <button id="add-goal" (click)="addGoal()" class="btn btn-primary float-end">Add Goal</button>
        </div>
    </div>
    <hr>

    <div class="row">

        <div class="col-sm-7 col-md-7 col-lg-9 col-xl-9 col-xxl-9 col-xxxl-8">
            <h5>Up Next</h5>
            <div id="goal-list-not-completed" class="row">
                <div *ngFor="let g of goalListNotCompleted" class="col-sm-12 col-md-12 col-lg-6 col-xxl-4 col-xxxl-3">

                    <div id="goal-{{g.id}}" class="card goal-not-completed">
                        <div class="card-body">
                            <h6 class="card-title">
                                <a class="action-link" routerLink="/goal/{{g.id}}">{{g.name}}</a>
                            </h6>
                            <div class="action-link-container">
                                <a class="complete" title="move to complete" (click)="completeGoal(g)">complete</a>
                            </div>
                        </div>
                    </div>
                    <!-- <div id="goal-{{g.id}}" class="card" >
                        <div class="card-body">
                            <h6 class="card-title"><a (click)="editGoal(g)">{{g.name}}</a> </h6>
                            <p class="card-text description ">{{g.description}}</p>
                            <h6>What Is Done?</h6>
                            <p class="card-text what-is-done">{{g.whatIsDone}}</p>
                            <h6>Target Completion Date</h6>
                            <p>{{g.targetCompletionDate | date:'MM/dd/yyyy' }}</p>
                            <div class="action-link-container">
                                <a class="goal-advanced" routerLink="/goal/{{g.id}}">goal</a>
                                <a class="see-task" routerLink="/task-list/{{g.id}}">See Task</a>
                                <a class="complete" (click)="completeGoal(g)">Complete</a>
                            </div>
                        </div>
                    </div> -->
                    <br>
                </div>
            </div>
        </div>

        <div class="col-sm-5 col-md-5 col-lg-3 col-xl-3 col-xxl-3 col-xxxl-4">
            <h5>Completed</h5>
            <div id="goal-list-completed" class="row">

                <div *ngFor="let g of goalListCompleted" class="col-12 col-xxxl-6">
                    <div id="goal-{{g.id}}" class="card goal-completed">
                        <div class="card-body">
                            <h6 class="card-title"><a (click)="editGoal(g)">{{g.name}}</a> </h6>
                        </div>
                    </div>
                    <br>
                </div>

            </div>
        </div>
    </div>

</div>