.description {
    min-height: 60px;
}

.what-is-done {
    min-height: 60px;
}

.add-goal-after {
    height: 20px;    
    color:#cccccc;
    
    a {
        text-decoration: none !important;
        cursor: default !important;        
    }
    a:hover {
        text-decoration: underline !important;
        color:black;
    }
}