<div class="container">
    
    <div class="row">
        <div class="col-9">
            <h1>Goals</h1>
        </div>
        <div class="col-3 ">
            <button id="add-goal" (click)="addGoal()" class="btn btn-primary float-end">Add Goal</button>
        </div>
    </div>
    <hr>
    
    <div id="goal-list" class="row">
        <div *ngFor="let g of goalList" class="col-3">
            <div id="goal-{{g.id}}" class="card" style="width: 18rem;">
                <div class="card-body">
                    <h4 class="card-title"><a (click)="editGoal(g)">{{g.name}}</a> </h4>
                    <p class="card-text description ">{{g.description}}</p>
                    <h5>What Is Done?</h5>
                    <p class="card-text what-is-done">{{g.whatIsDone}}</p>
                    <a routerLink="/task-list/{{g.id}}" class="card-link">See Task</a>
                </div>
            </div>
            <br>
        </div>
    </div>

</div>