.description {
    min-height: 60px;
}

.what-is-done {
    min-height: 60px;    
}

.goal-not-completed {
    background-color: var(--not-completed-color-2);
}

.goal-completed {
    background-color:var(--completed-color-2);
}
