<div id="goal-modal" style="width:450px;">
    <form class="form-group" [formGroup]="formGroup">

        <div class="mb-3" [ngClass]="{'has-error':(formControlService.isInvalid(nameControl,showErrors))}">
            <label for="name" class="form-label">What Is The Goal?</label>
            <span class="input-help">short and precise is best</span>
            <span class="validation-hint float-end">required</span>
            <textarea id="name" [name]="descriptionControl" maxlength="150" style="resize:none;" rows="2" cols="150"
                autocomplete="off" [formControl]="nameControl" class="form-control">
            </textarea>
        </div>

        <div class="mb-3" [ngClass]="{'has-error':(formControlService.isInvalid(descriptionControl,showErrors))}">
            <label for="description" class="form-label">Description</label><span
                class="validation-hint float-end">required</span>
            <textarea id="description" [name]="descriptionControl" maxlength="500" style="resize:none;" rows="3"
                cols="150" autocomplete="off" [formControl]="descriptionControl" class="form-control"></textarea>
        </div>

        <div class="mb-3" [ngClass]="{'has-error':(formControlService.isInvalid(whatIsDoneControl,showErrors))}">
            <label for="what-is-done" class="form-label">What Makes It Done?</label><span
                class="validation-hint float-end">required</span>
            <textarea id="what-is-done" [name]="whatIsDoneControl" maxlength="150" style="resize:none;" rows="2"
                cols="150" autocomplete="off" [formControl]="whatIsDoneControl" class="form-control"></textarea>
        </div>

        <div class="row g-3">

            <div class="mb-3 col-6">
                <div style="display: inline-block;"
                    [ngClass]="{'has-error': (formControlService.isInvalid(targetCompletionDateControl,showErrors))}">
                    <label class="form-label">Target Completion Date</label>
                    <input id="target-completion-date" type="text" [min]="minimumTargetCompletionDate" class="form-control date-control"
                        name="targetCompletionDateControl" [formControl]="targetCompletionDateControl"
                        formControlName="targetCompletionDate" matInput [matDatepicker]="targetCompletionDate" 
                        [min]="minimumTargetCompletionDate"                        
                        >
                </div>
                
                <div style="display: inline-block;">
                    <mat-datepicker-toggle [for]="targetCompletionDate"></mat-datepicker-toggle>
                    <mat-datepicker #targetCompletionDate></mat-datepicker>
                </div>
            </div>
        </div>


        <mat-dialog-actions align="end">
            <button id="save" mat-button type="button" class="btn btn-primary" (click)="save()">Save</button>
            <button id="cancel" mat-button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
        </mat-dialog-actions>

    </form>
</div>