<div [ngClass]="{'completed-mode':completedMode,'not-completed-mode':!completedMode}">

    <div *ngIf="taskItemList.length === 0">
        <div class="no-data" *ngIf="completedMode">
            Completed Task Will Go Here
        </div>

        <div class="no-data" *ngIf="!completedMode">
            <br>
            <button class="button btn-primary" (click)="addTaskItem()">Add A Task</button>
        </div>
    </div>

    <!-- <a [matMenuTriggerFor]="menu"><fa-icon title="move task to completed"  [icon]="iconColorService.icons.ellipisHorz"></fa-icon></a>
    <mat-menu #menu="matMenu">
        <button (click)="moveTaskToGoal()" mat-menu-item>
            <mat-icon>dialpad</mat-icon>
            <span>Move Selected Task To Goal...</span>
        </button>
    </mat-menu> -->

    <table *ngIf="taskItemList.length > 0" class="task-item-list-v2 table table-striped table-bordered table-sm">
        <thead>
            <tr>
                <th style="width:3%">
                    <mat-checkbox class="example-margin" [(ngModel)]="allTaskSelected"
                        (change)="selectAllClick($event.checked)">
                    </mat-checkbox>
                </th>                

                <th style="width:63%" id="task-col">
                    <a (click)="sort('name')">Task
                        <span *ngIf="completedMode">Completed</span>
                        <span *ngIf="!completedMode"> Not Completed</span>
                    </a>
                    <button *ngIf="!completedMode" style="float:right" (click)="addTaskItem()"
                        class="add-task-item btn btn-primary btn-sm">Add Task</button>
                </th>

                <th style="width:12%" id="priority-col">
                    <a (click)="sort('priority')">Priority</a>
                </th>
                <th style="width:10%" id="action-col">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            <tr id="task-item-{{t.id}}" *ngFor="let t of taskItemList">
                <td>
                    <mat-checkbox [checked]="t.selected" (change)="selectTask(t,$event.checked)"></mat-checkbox>
                </td>

                <td>
                    <a class="action-link name" (click)="editTaskItem(t)">{{t.name}}</a>
                </td>

                <td>
                    <mat-button-toggle-group class="priority-toggle priority-{{t.priority}}"
                        (change)="priorityToggle($event,t)" name="priority" [value]="t.priority.toString()"
                        aria-label="Font Style">
                        <mat-button-toggle name="priority" class="priority-low" title="Low" value="3">L
                        </mat-button-toggle>
                        <mat-button-toggle name="priority" class="priority-medium" title="Medium" value="2">M
                        </mat-button-toggle>
                        <mat-button-toggle name="priority" class="priority-high" title="High" value="1">H
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                </td>

                <td>
                    <div class="action-icon-container">
                        <a class="action-link move-task" (click)="moveTaskStatus(t)">
                            <fa-icon title="move task to completed" *ngIf="!completedMode"
                                [icon]="iconColorService.icons.arrowDown"></fa-icon>
                            <fa-icon title="move task to not completed" *ngIf="completedMode"
                                [icon]="iconColorService.icons.arrowUp"></fa-icon>
                        </a>

                        <a title="edit task..." class="action-link edit-task-item" (click)="editTaskItem(t)">
                            <fa-icon [icon]="iconColorService.icons.edit"></fa-icon>
                        </a>
                        <a title="delete task..." class="action-link delete-task-item" (click)="deleteTaskItem(t)">
                            <fa-icon [icon]="iconColorService.icons.delete"></fa-icon>
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>