<div [ngClass]="{'completed-mode':completedMode,'not-completed-mode':!completedMode}">

    <div class="mobile d-block d-md-none">
        <div style="margin-bottom:10px;" class="row">
            <div class="col-8">
                <b>{{goal.name}}</b>
            </div>
            <div class="col-4">
                <button (click)="addTaskItem()" title="add task to goal..." style="float: right;"
                    class="btn btn-primary btn-sm">
                    Add Task
                </button>
            </div>
        </div>

        <hr>
        <div class="row">
            <div class="col-12">
                <a style="float:right" class="action-link" [matMenuTriggerFor]="mobileSortMenu">
                    Sort
                </a>
            </div>
        </div>

        <mat-menu #mobileSortMenu="matMenu">
            <button *ngFor="let c of columns" mat-menu-item (click)="sortMobile(c)"> {{c.name}}
                <fa-icon *ngIf="c.isCurrentSort && c.isAscending" [icon]="iconColorService.icons.arrowUp"></fa-icon>
                <fa-icon *ngIf="c.isCurrentSort && !c.isAscending" [icon]="iconColorService.icons.arrowDown"></fa-icon>
            </button>
        </mat-menu>

        <div class="task-item" *ngFor="let t of taskItemList">

            <div class="row">
                <div class="col-12">
                    <a class="name-link" (click)="editTaskItem(t)">{{t.name}}</a>
                </div>

                <br><br>
                <hr>
                <div class="col-6">
                    <mat-button-toggle-group class="priority-toggle priority-{{t.priority}}"
                        (change)="priorityToggle($event,t)" name="priority" [value]="t.priority.toString()"
                        aria-label="Font Style">
                        <mat-button-toggle name="priority" class="priority-low" title="Low" value="3">L
                        </mat-button-toggle>
                        <mat-button-toggle name="priority" class="priority-medium" title="Medium" value="2">M
                        </mat-button-toggle>
                        <mat-button-toggle name="priority" class="priority-high" title="High" value="1">H
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                </div>

                <div class="col-6">
                    <div style="float: right ;" class="action-icon-container">
                        <a class="action-link move-task" (click)="moveTaskStatus(t)">
                            <fa-icon title="move task to completed" *ngIf="!completedMode"
                                [icon]="iconColorService.icons.arrowDown"></fa-icon>
                            <fa-icon title="move task to not completed" *ngIf="completedMode"
                                [icon]="iconColorService.icons.arrowUp"></fa-icon>
                        </a>

                        <!-- <a title="edit task..." class="action-link edit-task-item" (click)="editTaskItem(t)">
                            <fa-icon [icon]="iconColorService.icons.edit"></fa-icon>
                        </a>                         -->

                        <a class="action-link" [matMenuTriggerFor]="mobileActions">
                            <fa-icon title="actions" [icon]="iconColorService.icons.ellipisHorz"></fa-icon>
                        </a>

                        <mat-menu #mobileActions="matMenu">

                            <button mat-menu-item (click)="deleteTaskItem(t)">
                                Delete Task...
                            </button>

                            <button mat-menu-item [matMenuTriggerFor]="moveToGoals">
                                <span>Move Task(s) To Goal...</span>
                            </button>
                        </mat-menu>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="desktop d-none d-md-block">

        <!-- No Task Section ********* -->
        <div *ngIf="taskItemList.length === 0">
            <div class="no-data" *ngIf="completedMode">
                Completed Task Will Go Here
            </div>
            <br>
            <div *ngIf="!completedMode"  class="row">
                <div class="col-5">                  
                    <div class="card" style="margin-bottom:20px;">
                        <div class="card-body">
                            <h4 class="card-title">Your Goal Has No Task</h4>
                            <hr>
                            <ul style="margin-left:0px;padding-left: 1rem;" class="help-list">
                                <li>Task can also be added from the task type chart </li>
                                <li>Add task that are specific to completing your goal</li>
                                <li>Do not stress, task can be moved to other goals </li>                                
                            </ul>

                            <button  class="btn btn-primary" title="add task to goal..."
                                (click)="addTaskItem()">
                                <fa-icon [icon]="iconColorService.icons.addTask" class="button-icon"></fa-icon> Add A
                                Task To Goal
                            </button>
                        </div>                        
                    </div>                    

                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <d2x-motivation></d2x-motivation>
                </div>
            </div>
        </div>

        <!-- Has Task Section ********* -->
        <div *ngIf="taskItemList.length > 0">
            <a *ngIf="!isATaskSelected()" [matMenuTriggerFor]="menuNothingSelected">
                <fa-icon title="action for selected items" [icon]="iconColorService.icons.ellipisHorz"></fa-icon>
            </a>

            <mat-menu #menuNothingSelected="matMenu">
                <span mat-menu-item>No Task Are Selected</span>
            </mat-menu>

            <a *ngIf="isATaskSelected()" [matMenuTriggerFor]="menu">
                <fa-icon title="action for selected items" [icon]="iconColorService.icons.ellipisHorz"></fa-icon>
            </a>
        </div>

        <mat-menu #menu="matMenu">
            <button (click)="removeTaskToMove()" mat-menu-item [matMenuTriggerFor]="moveToGoals">
                <span>Move Task(s) To Goal...</span>
            </button>
        </mat-menu>

        <mat-menu class="goal-menu" #moveToGoals>
            <br>
            <h5 style="margin-left:16px;">Move Task(s) To Goal</h5>
            <hr>
            <button *ngFor="let g of goalList" (click)="moveSelectedTaskToGoal(g)" mat-menu-item>
                <span>{{g.targetCompletionDate | date }}</span> - <span>{{g.name}}</span>
            </button>
        </mat-menu>

        <table matSort (matSortChange)="sort($event)" *ngIf="taskItemList.length > 0"
            class="task-item-list-v2 table table-striped table-bordered table-sm">
            <thead>
                <tr>
                    <th style="width:4%;">
                        <mat-checkbox title="select/un-select all task" class="example-margin"
                            [(ngModel)]="allTaskSelected" (change)="selectAllClick($event.checked)">
                        </mat-checkbox>
                    </th>

                    <th title="sort by type" mat-sort-header="taskTypeCode.name" style="width:5%" id="type">
                        Type
                    </th>

                    <th title="sort by name" mat-sort-header="name" style="width:55%" id="task-col">
                        <span *ngIf="completedMode">Completed</span>
                        <span *ngIf="!completedMode"> Not Completed</span>
                    </th>

                    <th style="width:10%;border:0px !important;">
                        <button *ngIf="!completedMode" style="margin-left:3px;" (click)="addTaskItem()"
                            class="add-task-item btn btn-primary btn-sm" title="add task to goal...">Add Task</button>
                    </th>

                    <th title="sort by task priority" mat-sort-header="priority" style="width:11%" id="priority-col">
                        Priority
                    </th>
                    <th style="width:15%" id="action-col">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr id="task-item-{{t.id}}" *ngFor="let t of taskItemList">
                    <td>
                        <mat-checkbox [checked]="t.selected" (change)="selectTask(t,$event.checked)"></mat-checkbox>
                    </td>

                    <td style="text-align: center;">
                        <a title="{{t.taskTypeCode?.name}}" class="action-link name" (click)="editTaskItem(t)" #icon>
                            <fa-icon [icon]="t.taskTypeCode?.icon!"></fa-icon>
                        </a>
                    </td>

                    <td colspan="2">
                        <a class="action-link name" (click)="editTaskItem(t)">{{t.name}}</a>
                    </td>

                    <td>
                        <mat-button-toggle-group class="priority-toggle priority-{{t.priority}}"
                            (change)="priorityToggle($event,t)" name="priority" [value]="t.priority.toString()"
                            aria-label="Font Style">
                            <mat-button-toggle name="priority" class="priority-low" title="Low" value="3">L
                            </mat-button-toggle>
                            <mat-button-toggle name="priority" class="priority-medium" title="Medium" value="2">M
                            </mat-button-toggle>
                            <mat-button-toggle name="priority" class="priority-high" title="High" value="1">H
                            </mat-button-toggle>
                        </mat-button-toggle-group>
                    </td>

                    <td>
                        <div class="action-icon-container">
                            <a class="action-link move-task" (click)="moveTaskStatus(t)">
                                <fa-icon title="move task to completed" *ngIf="!completedMode"
                                    [icon]="iconColorService.icons.moveTaskToCompleted"></fa-icon>
                                <fa-icon title="move task to not completed" *ngIf="completedMode"
                                    [icon]="iconColorService.icons.notCompletedTask"></fa-icon>
                            </a>

                            <a title="edit task..." class="action-link edit-task-item" (click)="editTaskItem(t)">
                                <fa-icon [icon]="iconColorService.icons.edit"></fa-icon>
                            </a>
                            <a title="delete task..." class="action-link delete-task-item" (click)="deleteTaskItem(t)">
                                <fa-icon [icon]="iconColorService.icons.delete"></fa-icon>
                            </a>

                            <a title="Move task to goal..." (click)="setTaskToMove(t)" [matMenuTriggerFor]="moveToGoals"
                                class="action-link">
                                <fa-icon [icon]="iconColorService.icons.moveTaskToGoal"></fa-icon>
                            </a>

                            <!-- <a title="move task to..." class="action-link delete-task-item" (click)="(t)">
                                <fa-icon [icon]="iconColorService.icons.delete"></fa-icon>
                            </a> -->
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>