.goal-not-completed {
    background-color: var(--not-completed-color-2);
}

.goal-completed {
    background-color: var(--completed-color-2);
}

.detail-container {    
    margin-top: 10px;
    font-size: small;
}

.action-link-container{
    margin-bottom: 10px;
}