@import "../../../styles/variables";

.card-body {
    padding-left: 10px;
}

.goal-item {
    .name-title {
        min-height: 48px;
        margin-bottom:0px ;
        @include for-medium-and-below() {
            min-height: 50px;
        }
    }
}
.detail-container {
    margin-top: 10px;
    font-size: small;
}

.action-link-container {
    margin-bottom: 10px;
}

.no-goal {
    text-align: center;
    font-size: 1.2rem;
}
