@import "../../../variables";

.card-body {
    padding-left: 10px;
}

.goal-item {
    @include for-medium-and-below() {
        min-height: 155px;
    }
}

.goal-not-completed {
    background-color: var(--not-completed-color-2);
}

.goal-completed {
    background-color: var(--completed-color-2);
}

.detail-container {
    margin-top: 10px;
    font-size: small;
}

.action-link-container {
    margin-bottom: 10px;
}
