@import "../../../variables";

.header {
    padding: 10px 7px 10px 5px;
    margin-bottom: 10px;
    border-bottom: 2px solid #cccccc;
    min-height: 70px;
    @include for-medium-and-below() {
        min-height: 95px;
    }
    
    .title {
        font-weight: bold;
        font-size: 1em;        
        display:inline-block;
        @include for-small() {
            display:block;
        }
        
    }

    .header-button {
        float: right;
        @include for-medium-and-below() {
            float: none;
        }
        @include for-small() {
        }
        margin-bottom: 10px;
    }
}

.what-is-done {
    color: green;
    font-size: large;
}
