<!-- 
    https://getbootstrap.com/docs/4.0/utilities/display/ 
-->
<div class="break-point-tester">
    <div style="font-weight: bold;">
        <div class="d-block d-sm-none  ">X-Small</div>
        <div class="d-none d-sm-block d-md-none ">Small</div>
        <div class="d-none d-md-block d-lg-none ">Medium</div>
        <div class="d-none d-lg-block d-xl-none ">Large</div>
        <div class="d-none d-xl-block d-xxl-none">X-Large</div>
        <div class="d-none d-xxl-block d-xxxl-none">XXL-Large</div>
        <div class="d-none d-xxxl-block ">XXXL-Large</div>
    </div>


    <div class="d-block d-md-none">X-Small Small ONLY</div>
    <div class="d-block d-lg-none">X-Small Small Medium Only</div>
    <div class="d-none d-md-block">Medium Large XL XXL XXXL</div>
    <div class="d-none d-lg-block">Large XL XXL XXXL</div>
    <div class="d-none d-xxl-block"> XXL XXXL</div>
</div>