.task-item {
    font-size: 1.2rem;
}

#task-list {
    th {
        vertical-align: top;
    }

    #task-col {
        padding-right: 20px;
    }
}



.completed-chart{
    border: 1px solid var(--border-default);
    width: 200x ;
    height: 200px ;
}
