.task-item {
    font-size: 1.2rem;
}

#task-list {
    th {
        vertical-align: top;
    }

    #task-col {
        padding-right: 20px;
    }
}

.action-icon-container {
    .action-link {
        margin-left: 15px;
    }
}

.completed-chart{
    border: 1px solid #cccccc;
    width: 200x ;
    height: 200px ;
}
