
//if you change colors also change then in color.service.ts
:root{
    --completed-color-1:#ccffcc;    
    --completed-color-2:#e6ffe6;    
 
    --not-completed-color-1:#b3b3ff;    
    --not-completed-color-2:#e6e6ff;    
}
