
//if you change colors also change then in color.service.ts
:root{
    --completed-color-1:#ccffcc;    
    --completed-color-2:#e6ffe6;    
 
    --not-completed-color-1:#b3b3ff;    
    --not-completed-color-2:#e6e6ff;    

    --low-priority-color:#ffff4d;    
    --medium-priority-color:#4dff4d;    
    --high-priority-color:#ff4d4d;    
    
    
}
