/* You can add global styles to this file, and also import other style files */
@import "./customize-bootstrap.scss";
@import "./variables";
@import "./colors";
@import "./chart.styles.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.priority-1 {
  color: var(--high-priority-color);
}

.priority-2 {
  color: var(--medium-priority-color);
}

.priority-3 {
  color: var(--low-priority-color);
}

.d2x-dialog-panel {
  max-width: 450px !important;
}

@include for-xsmall() {
  .d2x-dialog-panel {
    max-width: 100vw !important;
  }
}

mat-dialog-actions {
  button {
    margin-left: 20px;
    float: right;
  }
}

.form-label {
  font-weight: bold;
}

.action-icon-container {
  .action-link {
    margin-left: 11px;
  }
}

.snack-bar-error {
  background-color: #ff8080;
  color: black;
}

.action-link {
  text-decoration: none !important;
  cursor: default !important;
  color: black;
}

.action-link:hover {
  text-decoration: underline !important;
}

.input-error {
  visibility: hidden;
}

.has-error {
  input,
  textarea {
    background-color: #ffe6e6;
    border: 1px solid red;
  }
  .input-error {
    visibility: visible;
    color: red;
  }

  .validation-hint {
    color: red;
  }
}

.input-help,
.validation-hint {
  color: #333333;
}
.input-help {
  margin-left: 4px;
}

.date-control {
  width: 175px;
}

.action-link-container {
  border-top: 1px solid #cccccc;
  margin-top: 15px;
  padding-top: 5px;
  a {
    text-decoration: none !important;
    cursor: default !important;
    color: black;
  }
  a:hover {
    text-decoration: underline !important;
  }
}
