/* You can add global styles to this file, and also import other style files */
@import "./customize-bootstrap.scss";
@import "./variables";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.app-modal {
  max-width: 450px;
  
}
mat-dialog-actions {
  button {
    margin-left: 20px;
    float: right;
  }
}

.form-label {
  font-weight: bold;
}

.action-link-container {
  text-align: right;
  border-top: 1px solid #cccccc;
  margin-top: 15px;
  padding-top: 5px;
  a {
    text-decoration: none !important;
    cursor: default !important;
    margin-left: 10px;
    color: black;
  }
  a:hover {
    text-decoration: underline !important;
  }
}


.action-link {
  text-decoration: none !important;
  cursor: default !important;  
  color: black;
}
.action-link:hover {
  text-decoration: underline !important;
}

.input-error {
  visibility: hidden;
}

.has-error {
  input,
  textarea {
    background-color: #ffe6e6;
    border: 1px solid red;
  }
  .input-error {
    visibility: visible;
    color: red;
  }

  .validation-hint {
    color: red;
  }
}

.input-help,
.validation-hint {
  color: #333333;
}
.input-help {
  margin-left: 4px;
}

.date-control {
  width: 175px;
}
