<div style="background-color:yellow;text-align: center;" class="container" *ngIf="testing">
    <h3 style="color:red">Testing Version Do Not Release To Production Or Development</h3>
</div>

<!-- <div class="container" *ngIf="authService.isLoading$ | async; else loaded">
    loading..
</div> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light" aria-expanded="false">
    <div class="container">
        <a class="navbar-brand" href="#">Done2X</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- <li *ngIf="isAuthenticated" class="nav-item">
                        <a class="nav-link" routerLink="dashboard">Dash Board</a>
                    </li> -->

                <li *ngIf="isAuthenticated" class="nav-item" data-bs-toggle="collapse"
                    data-bs-target=".navbar-collapse.show">
                    <a class="nav-link" routerLink="project-list">Project List</a>
                </li>      
            </ul>                

            <d2x-auth-button></d2x-auth-button>   
        </div>               
    </div>    
</nav>

<router-outlet></router-outlet>